.bg-orange {
    background: linear-gradient(135deg, #ffb347, #ffcc33);
}
  
.btn-orange {
    background-color: #ff8800;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
.btn-orange:hover {
    background-color: #e67300;
  }

  .bg-corner-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    opacity: 50%;
    pointer-events: none;
    transition: transform 0.3s ease;
  }
  
  .bg-corner-image:hover {
    transform: scale(1.05);
  }