/* Marquee Container */
.marquee-container {
  width: 100%;
  background-color: #f8f9fa; 
  padding: 5px 0;
}

/* Marquee Text */
.marquee-text {
  display: inline-block;
  font-weight: bold;
  animation: marquee 10s linear infinite, colorChange 5s infinite;
}

/* Highlighted Text */
.highlight {
  color: #28a745;
  font-weight: bold;
}


@keyframes colorChange {
  0% {
    color: #007bff; 
  }
  25% {
    color: #28a745; 
  }
  50% {
    color: #ffc107; 
  }
  75% {
    color: #dc3545; 
  }
  100% {
    color: #007bff;
  }
}